.container.abstracts 
    row
        h1 Новогодние деревья
        p 
            |Оформление деревьев яркими 
            |светодиодными подсветками 
            |украшает темные зимние улицы 
            |и создает на них атмосферу тепла. 
            |Но оно должно быть сделано профессионально, 
            |потому что неправильное украшение просто 
            |сольется с окружающими рекламами. И не 
            |стоит беспокоиться о пожаробезопасности. 
            |Все гирлянды, которые применяются для 
            |украшения деревьев, не нагреваются.
    row 
        h1 Украшение ТЦ и магазинов
        p 
            |Новогоднее оформление магазинов 
            |и ТЦ является обязательной задачей 
            |каждого владельца или арендатора. 
            |Сказочное украшение поможет привлечь 
            |клиентов и выставить свой товар в 
            |новом, новогоднем свете. Вы можете 
            |оформить полностью интерьер всего 
            |помещения или обратить внимание 
            |на фасады и витрины. Все 
            |зависит от ваших пожеланий.
    row 
        h1 Новогодние дома и коттеджи
        p 
            |Новогоднее оформление домов 
            |и коттеджей также требует внимания 
            |специалистов. Ведь именно в частном 
            |доме вы имеете прекрасную возможность 
            |создать собственную неповторимую и 
            |домашнюю атмосферу. Именно в таком 
            |случае вы сможете обратиться к студии 
            |дизайна за помощью в оформлении 
            |участка, фасада или самого интерьера 
            |коттеджа. Самостоятельно не всегда 
            |получается или хватает времени, 
            |поэтому лучше довериться специалистам.