.container.black-text-block
    .container
        p.top 
            |В последнее время все чаще за украшением участков, 
            |территорий возле офисов или торговых центров, интерьера 
            |жилья или магазина стали обращаться к профессиональным 
            |компаниям. Для этого есть множество причин, которые мешают 
            |владельцам сделать все самостоятельно. Поэтому всегда можно 
            |довериться специалистам, которые готовы создать для вас 
            |световое оформление.
        p.bottom
            |Однако главной проблемой становится цена. Многие боятся 
            |полагаться на студии дизайна, потому что ожидают завышенных 
            |ценовых характеристик. Однако студия дизайна Light Garland 
            |предлагает умеренные расценки, которые придутся по вкусу.