.container.contacts-map
    .row 
        .col-lg.contacts 
            .container
                h1 Наши контакты
                p.adress г. Москва, Каширское ш., 3, корп. 2, стр. 9
                p.mail info@lightgarland.ru
                p.tel +7 (499) 390-74-51
                .button
                    a(href="#") Обратный звонок
        .col-lg.map(id="map")
            <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>