.discription-text 
    .container.overflow-hidden 
        .row.justify-content-center
            .col-8
                .text
                    |Мы поможем украсить ваш дом, коттедж и 
                    |прилежащую территорию так, что вы не 
                    |захотите расставаться с праздником. Мы 
                    |вместе воплотим самые яркие идеи и сделаем 
                    |ваш дом ослепительно незабываемым.