.discription-text 
    .container.overflow-hidden 
        .row.justify-content-center
            .col-8
                .text Новогоднее настроение всегда приходит к нам, как только мы видим яркие красочные гирлянды на домах и деревьях, праздничную мишуру в торговых центрах. И чтобы все эти чудные моменты выглядели красиво, вызывали улыбку у случайных прохожих и мечтательный взгляд, доверить новогоднее оформление стоит настоящим профессионалам. Такой компаний является студия дизайна Lightgarland.