footer    
    .container.text-center
        .row
            .col
                .card
                    .left
                        .top info@lightland.ru
                .card
                    .left
                        .bot Все права защищены 2009-2017 г
            .col-5
                .card
                    .center г. Москва, Каширское ш., 3, корп. 2, стр. 9
            .col 
                .card
                    .right
                        .top +7 (499) 390-74-51
                .card
                    .right
                        .bot 
                            a(href="#") Обратный звонок                                      