.tab-content
    .tab-pane.fade.show.active(
        id="Main"       
        ) Main
    .tab-pane.fade(
        id="first"
        ) Lorem ipsum dolor sit amet.
    .tab-pane.fade(
        id="second"
        ) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, deleniti.
    .tab-pane.fade(
        id="third"
        ) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus velit dolores debitis illum, eligendi totam.