.container.price-parameters
    h1 Ценовые параметры
    p.top 
        |Соответственно, на определенный вариант 
        |оформления приходится и своя расценка. Каждая 
        |компания всегда указывает свои характеристики 
        |и их стоимость. Например, цены на монтаж 
        |подсветки фасадов постоянно указывают в первую 
        |очередь, чтобы будущий клиент мог просчитать 
        |затраты заранее.
        p.bottom 
            |Студия дизайна Light Garland стремится 
            |сделать расценки максимально демократичными. 
            |Но при этом не стремитесь получить самое 
            |дешевое, потому что именно на красоте и 
            |комфорте экономить не стоит.