.container.text-with-picture-block
    .row
        .col-lg-6.picture
            img(
                src="img/artboard-prices.png"
                alt='picture'
                )
        .col-lg-5.text 
            h1 Что представляет собой новогоднее оформление?
            p
                |Если раньше к профессионалам, в основном, 
                |обращались за помощью владельцы магазинов 
                |и ТЦ, то теперь идут заказы от жителей 
                |многоквартирных или частных домов, которые 
                |самостоятельно не могут украсить участки. 
                |Существует несколько вариантов световых 
                |украшений, каждый из которых требует 
                |определенный монтаж. Новогодняя иллюминация 
                |может размещаться на абсолютно разных объектах, 
                |важно безопасно ее расположить.
            h2 Студия дизайна Light Garland предлагает такие варианты:
            ul 
                li Красивое оформление деревьев
                li Украшение фасадов зданий
                li Внутреннее оформление помещения.