.top-image
    .container
        .card.text-bg-dark
            img.card-img(
            src='img/backround1.png',
            alt='Top image'
            )
            .card-img-overlay
                .card-text Праздничное освещение для вашего дома