@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf'),
    url('fonts/Montserrat-Regular.woff'),
    url('fonts/Montserrat-Regular.eot');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.ttf'),
    url('fonts/Montserrat-Bold.woff'),
    url('fonts/Montserrat-Bold.eot');
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('fonts/Montserrat-Black.ttf'),
    url('fonts/Montserrat-Black.woff'),
    url('fonts/Montserrat-Black.eot');
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('fonts/Montserrat-Italic.ttf'),
    url('fonts/Montserrat-Italic.woff'),
    url('fonts/Montserrat-Italic.eot');
}



    //('fonts/Montserrat-Black.ttf'),
    //url('fonts/Montserrat-BlackItalic.ttf'),
    //url('fonts/Montserrat-Bold.ttf'),
    //url('fonts/Montserrat-BoldItalic.ttf'),
    //url('fonts/Montserrat-ExtraBold.ttf'),
    //url('fonts/Montserrat-ExtraBoldItalic.ttf'),
    //url('fonts/Montserrat-ExtraLight.ttf'),
    //url('fonts/Montserrat-ExtraLightItalic.ttf'),
    //url('fonts/Montserrat-Italic.ttf'),
    //url('fonts/Montserrat-Light.ttf'),
    //url('fonts/Montserrat-LightItalic.ttf'),
    //url('fonts/Montserrat-Medium.ttf'),
    //url('fonts/Montserrat-MediumItalic.ttf'),
    //url('fonts/Montserrat-SemiBold.ttf'),
    //url('fonts/Montserrat-SemiBoldItalic.ttf'),
    //url('fonts/Montserrat-Thin.ttf'),
    //url('fonts/Montserrat-ThinItalic.ttf'),
    
    //url('fonts/Montserrat-Black.woff'),
    //url('fonts/Montserrat-BlackItalic.woff'),
    //url('fonts/Montserrat-Bold.woff'),
    //url('fonts/Montserrat-BoldItalic.woff'),
    //url('fonts/Montserrat-ExtraBold.woff'),
    //url('fonts/Montserrat-ExtraBoldItalic.woff'),
    //url('fonts/Montserrat-ExtraLight.woff'),
    //url('fonts/Montserrat-ExtraLightItalic.woff'),
    //url('fonts/Montserrat-Italic.woff'),
    //url('fonts/Montserrat-Light.woff'),
    //url('fonts/Montserrat-LightItalic.woff'),
    //url('fonts/Montserrat-Medium.woff'),
    //url('fonts/Montserrat-MediumItalic.woff'),
    //url('fonts/Montserrat-SemiBold.woff'),
    //url('fonts/Montserrat-SemiBoldItalic.woff'),
    //url('fonts/Montserrat-Thin.woff'),
    //url('fonts/Montserrat-ThinItalic.woff'),

    //url('fonts/Montserrat-Black.eot'),
    //url('fonts/Montserrat-BlackItalic.eot'),
    //url('fonts/Montserrat-Bold.eot'),
    //url('fonts/Montserrat-BoldItalic.eot'),
    //url('fonts/Montserrat-ExtraBold.eot'),
    //url('fonts/Montserrat-ExtraBoldItalic.eot'),
    //url('fonts/Montserrat-ExtraLight.eot'),
    //url('fonts/Montserrat-ExtraLightItalic.eot'),
    //url('fonts/Montserrat-Italic.eot'),
    //url('fonts/Montserrat-Light.eot'),
    //url('fonts/Montserrat-LightItalic.eot'),
    //url('fonts/Montserrat-Medium.eot'),
    //url('fonts/Montserrat-MediumItalic.eot'),
    //url('fonts/Montserrat-SemiBold.eot'),
    //url('fonts/Montserrat-SemiBoldItalic.eot'),
    //url('fonts/Montserrat-Thin.eot'),
    //url('fonts/Montserrat-ThinItalic.eot');
