@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf'),
        url('fonts/Montserrat-Regular.woff'),
        url('fonts/Montserrat-Regular.eot');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.ttf'),
        url('fonts/Montserrat-Bold.woff'),
        url('fonts/Montserrat-Bold.eot');
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('fonts/Montserrat-Black.ttf'),
        url('fonts/Montserrat-Black.woff'),
        url('fonts/Montserrat-Black.eot');
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('fonts/Montserrat-Italic.ttf'),
        url('fonts/Montserrat-Italic.woff'),
        url('fonts/Montserrat-Italic.eot');
}