extends pug/base
block content
    header
        include pug/header
    main
        .tab-content
            .tab-pane.fade(
                id="main-page"       
                )
                section
                    include pug/top-image
                section
                    include pug/discription-text
                section
                    include pug/cards
                section
                    include pug/price-button
                section
                    include pug/form   
            .tab-pane.fade(
                id="our-services-page"
                ) 
                section
                    include pug/our-services-sign
                section
                    include pug/cards
                section
                    include pug/discription-services
                section
                    include pug/list-of-services
                section
                    include pug/abstracts
                section
                    include pug/price-button
            .tab-pane.fade(
                id="prices-page"
                )
                section
                    include pug/price-list
                section
                    include pug/black-text-block
                section
                    include pug/text-with-picture-block
                section
                    include pug/price-parameters
                section
                    include pug/price-button
                section
                    include pug/form
            .tab-pane.fade.show.active(
                id="contacts-page"
                )
                section
                    include pug/form
    footer 
        include pug/footer                                