extends pug/base
block content
    header
        include pug/header
    main
        section 
            include pug/multi-test
        section
            include pug/top-image
        section
            include pug/discription-text
        section
            include pug/cards
        section
            include pug/price-button
        section
            include pug/form                
    footer 
        include pug/footer                                